* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #15191a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 80%;
  margin: auto;

  background: #212223;
}
.slider {
  padding: 20px;
  padding-top: 60px;
  position: relative;
  border-radius: 10px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #fff;
  height: 200px;
  font-size: 30px;
  text-transform: uppercase;
}
.owl-nav {
  display: inline-flex;
  position: absolute;
  top: 4%;
  right: 4%;
  gap: 20px;
}
.owl-nav button i {
  background-color: #00bc91;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
}
.owl-dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.owl-dots button.owl-dot {
  border-radius: 50%;
  background: #aaa;
  width: 20px;
  height: 20px;
  gap: 20px;
}
.owl-dots button.owl-dot.active {
  background: #00bc91;
}
